
 <section class="productListBorder">

        <div class="productListItem textFormatLarge">
            Search-Results for "{{ query }}"

            <div id="sortOptions">
                Sort option:
                <select id="sort-options" name="sort-options">
                        <option value="descending">Price descending</option>
                        <option value="ascending">Price ascending</option>
                        <option value="rating">Rating descending</option>
                </select>

            </div>

        </div>

        <div *ngIf="products.length > 0; else noResults">
          <div *ngFor="let product of products" class="product">
            <ul class="productListItem">
              <span class="productHeaderSpan">
                <li><img [src]="product.thumbnail" alt="{{ product.title }}"></li>
                <li>{{ product.title }}</li>
              </span>
              <li><p>ASIN: {{product.asin }}</p></li>
              <li><p>Price: {{ product.price }}€</p></li>
              <li><p>Rating: {{ product.rating }}</p></li>
              <span class="listButtons">
                <li><button id="addWishlistBtn">Add to Wishlist</button></li>
                <li><a [href]="product.link" target="_blank">Go to Amazon-Page</a></li>
                <li><a [href]="'https://mpa-webprogrammierung-5831981c1a5b.herokuapp.com/public/review/SeeReviews.html?asin=' + product.asin">See reviews</a></li>
              </span>
            </ul>
          </div>
        </div>
        
    </section>

<ng-template #noResults>
  <p>Keine Produkte gefunden.</p>
</ng-template>
