
<div class="containerBorder roundedCorners textFormatLarge" >
  <p>Product-Search</p>
</div>

<div class="containerBorder roundedCorners textFormatLarge">
  <p>Here you can search for any product. Please type in the term of the products you are searching for.</p>
</div>

<div class="containerBorder roundedCorners">
 <span class="containerItem">
   <form class="textFormatLarge">
    <label for="query">ProductTerm:</label>
     <br/><br/>
     <input type="text" [(ngModel)]="searchTerm" placeholder="Enter search-term!" id="query" name="query" class="formatTextInput" required>
     <br/><br/>
     <a [routerLink]="['/LinkProductsearch']" [queryParams]="{ q: searchTerm }" id="submitBtn">Start searching...</a>

   </form>
 </span>
</div>

<router-outlet></router-outlet>

