
<h1>Mosbach Task Organizer</h1>

Here you can organise all your tasks. Please
choose from the menu.
<br />
<br />

This super cool service was created by
{{ author }} who will be {{ age + 1 }}
years old next year.
<br />
<br />

<a [routerLink]="['/LinkSignup']">Sign up</a>&nbsp;
<a [routerLink]="['/LinkLogon']">Log on</a>&nbsp;
<a [routerLink]="['/LinkLogoff']">Log off</a>&nbsp;
<a [routerLink]="['/LinkTaskadd']">Add a task</a>&nbsp;
<a [routerLink]="['/LinkTaskall']">See all tasks</a>

<router-outlet></router-outlet>

